.price-one img {
    aspect-ratio: .9/1;
}

.owl-dots {
    display: none !important;
}

.owl-nav {
    position: absolute;
    top: 15rem;
    left: -52%;
    display: flex;
    justify-content: flex-start;
}

.owl-nav button {
    border-radius: 5rem !important;
    width: 3rem;
    height: 3rem;
    border: 1px solid #009000 !important;
}

.owl-nav button:hover {
    cursor: pointer;
}


.blog-one__img a {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.blog-one__img a .text {
    font-size: .8rem;
}

@media screen and (max-width:1400px) {
    .owl-nav {
        top: 20rem;
    }
}