button {
    border: none;
    border-radius: 1rem !important;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition: all .5s;
    z-index: 99999999 !important;
}

button:hover {
    transition: all .5s;
    background-color: #a79132 !important;
    color: white !important;
}

button:hover .image {
    transition: all .5s;
    transform: rotateZ(45deg);
}

button .image {
    transition: all .5s;
}