.partners_items .item {
    background-color: white;
    border: 1px solid #eeeeee;
    padding: 20px;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 1px 1px 1px #eeeeee, -1px -1px 1px #eeeeee;
}

.Partners {
    background-color: #eeeeee;
}