.video-one__bg {
    background-image: url('../../assets/images/Plane_video_back.png');
}

.modalll button {
    outline: none;
    border-color: #eeeeee !important;
    background-color: white !important;
    color: black !important;
}

.modalll button:hover {
    background-color: white !important;
    color: black !important;
}