.services-one__content {
    border-radius: 8px !important;
}

.services-one__arrow {
    border-radius: 8px !important;
    overflow: hidden;
}

.Business {
    padding-top: 6rem;
    padding-bottom: 6rem;
}