.News {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.News .blog-one__content {
    height: 15rem;
}

.date {
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 10px;
}