
* {
    scroll-behavior: smooth;
}

.v_100 {
    width: 100% !important;
    min-height: 100vh !important;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.App {
    min-height: 100vh;
}


